* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.detail-container {
    width: 100%;
    margin: 80px auto 50px;
}

.detail {
    display: flex;
    justify-items: center;
    align-items: center;
}

.detail-image {
    width: 800px;
    margin: 15px;
}

.detail-image img {
    width: 100%;
}

.detail-info {
    margin: 0 10px;
}

.detail-info h2 {
    font-size: 35px;
    margin-top: 15px 0;
}

.detail-info p {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.7px;
}

.detail-info .detail-price {
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
}

.btn-add {
    cursor: pointer;
    padding: 15px 50px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #006064;
    color: white;
    display: block;
    margin: 0 auto 50px;
    transition: all .3s;
}

.btn-add a {
    color: white;
    text-decoration: none;
}

.btn-add:hover {
    background-color: #00796B;
}